<nav class="navbar">
    <a class="navbar-brand" href="/">Meme Warriors</a>

    <form class="search-form" method="get" action="/search">
        <input type="text" name="keywords">
        <button type="submit">Search</button>
    </form>
</nav>
<div class="navbar-links-container">

    {{#if loggedout}}
    <a class="nav-link" href="/memers/memers">Memers</a>
    <a class="nav-link" href="/battles/battles">Battles</a>

    {{else}}
    <a class="nav-link" href="/memers/memers">Memers</a>
    <a class="nav-link" href="/battles/battles">Battles</a>

<<<<<<< HEAD
    <a class="nav-link" href="/users/profile/{{_id}}">My profile</a>
    {{/if}}
=======
                {{else}}
                <a class="nav-item nav-link" href="/memers/memers">Memers</a>
                <a class="nav-item nav-link" href="/battles/battles">Battles</a>

                <a class="nav-item nav-link" href="/users/profile/{{_id}}">My profile</a>
                {{/if}}

                <form method="get" action="/search">
                    <input type="text" name="keywords">
                    <button type="submit">Search</button>
                </form>

            </div>
        </div>
    </div>
</nav> --}}
<nav class=" ">
    <div class="">
        <a class="" href="/">Meme Warriors</a>

        <div class="" id="navbarNav">
            <ul class="navbar-nav">
                {{#if loggedout}}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/memers/memers">Memers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/battles/battles">Battles</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/memers/memers">Memers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/battles/battles">Battles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/profile/{{_id}}">My profile</a>
                </li>
                {{/if}}
>>>>>>> 065d617db902d6e45fc2e4432b936d9a127c4486


</div>