<h2  class="title-marker">{{battle.title}}</h2>

<div class="battle-head">

<img src="{{battle.imageUrl}}"
  onerror='this.src = "https://cdn-icons.flaticon.com/png/512/881/premium/881284.png?token=exp=1645372280~hmac=bb856e707757023683b870354ea7742c"' class="battle-head" />

</div>

{{#if loggedin}}
<div class = "battle-title">
<button id="attack-button" class="submit">Attack this meme!</button>
{{/if}}
</div>

<div>
  <h5 class="battle-title">VOTE THE BEST ATTACK &#x1F480</h5>
  <div class="memes-container">
  {{#each battle.attacksArray}}
  <div class="card">
  <img src="{{imageUrl}}" alt="" srcset="">
  <p>{{points}}</p>
  <form action="/battles/battle/attack/{{id}}/addpoint" method="POST">
    <button name="battleId" value="{{../battle._id}}">vote</button>
  </form>
  <form action="/battles/battle/attack/{{id}}/subtractpoint" method="POST">
    <button name="battleId" value="{{../battle._id}}">downvote</button>
  </form>
  </div>
  {{/each}}
  </div>
</div>

{{#if isowner}}

  <form action="/battles/battles/{{battle._id}}/delete" method="POST">
    <button>Delete</button>
  </form>

{{/if}}

<div id="display-memes" style="display: none">
  {{#each memesArray}}
  <img style="width: 300px" src="{{imageUrl}}" alt="" srcset="">
  <form action="/battles/battle/attack/{{../battle._id}}" method="POST">
    <button name="imageUrl" value="{{imageUrl}}" type="submit">
      Choose
    </button>
  </form>
  {{/each}}
</div>