<h1>WELLCOME TO THE BATTLE</h1>

<h2>{{battle.title}}</h2>

<img src="{{battle.imageUrl}}"
  onerror='this.src = "https://cdn-icons.flaticon.com/png/512/881/premium/881284.png?token=exp=1645372280~hmac=bb856e707757023683b870354ea7742c"'>
<button id="attack-button">Attack this meme!</button>


<div>
  <h2>VOTE THE BEST ATTACK</h2>
  {{#each battle.attacksArray}}
  <img src="{{imageUrl}}" style="width: 300px;" alt="" srcset="">
  <p>{{points}}</p>
  <form action="/battles/battle/attack/{{id}}/addpoint" method="POST">
    <button name="battleId" value="{{../battle._id}}">vote</button>
  </form>
  {{/each}}
</div>

{{#if isowner}}

  <form action="/battles/battles/{{battle._id}}/delete" method="POST">
    <button>Delete</button>
  </form>

{{/if}}

<div id="display-memes" style="display: none">
  {{#each memesArray}}
  <img style="width: 300px" src="{{imageUrl}}" alt="" srcset="">
  <form action="/battles/battle/attack/{{../battle._id}}" method="POST">
    <button name="imageUrl" value="{{imageUrl}}" type="submit">
      Choose
    </button>
  </form>
  {{/each}}
</div>