


<div class="buttons-container">
<h1 class="title-marker">{{username}} Welcome to Meme Warriors{{title}}!</h1>
    {{#if loggedout}}

    
    <div class="memes-container">
        {{#each memesArray}}
        <div class="card">
            <img class="image-meme" src="{{imageUrl}}" alt="" srcset="">
        </div>
        {{/each}}
    </div>

    {{else}}

</div>

<div class="memes-container">
    {{#each memesArray}}
    <div class="card">
        <img class="image-meme" src="{{imageUrl}}" alt="" srcset="">
        <form action="/likes/add/{{id}}" method="post">
            <input type="text" name="imageUrl" value="{{imageUrl}}" style="display: none;">
            <button class="like-button" type="submit">
                <i class="fa-solid fa-heart"></i>
            </button>
        </form>
    </div>
    {{/each}}
</div>

{{/if}}