
<div class="form">
    <div class="title">Edit your profile</div>
    <form class="form-auth"  action="/users/profile/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
    <div class="input-container ic1">
          <label class="label" for="username">Username:</label>
          <input id="firstname" class="input" type="text" name="username"  value="{{user.username}}" required>
   </div>
   <div class="input-container ic2">
       <label class="label" for="email">Email:</label>
      <input id="email" class="input" type="email" name="email" value="{{user.email}}" required>
   </div>
   <div class="input-container ic3">
      <label class="label lb" for="description">Description:</label>
      <textarea class="desctiption" name="description" id="description" cols="23" rows="4" >{{user.description}}</textarea>
   </div>

  <div class="input-container ic2">
     <div class="file-input">
      <input id="file" class="file" type="file"  name="profilePic" />
      <label for="file">
         <p class="file-name"></p>
         Select File
         </label>
     </div> 


  </div>
         <button type="submit" class="submit">Save changes</button>
   </form>
   

  <form class="form-auth" action="/users/profile/{{user._id}}/delete/" method="POST">
              <button class="delete">Delete account</button>
   </form>

</div>


