
        

       


<div class="form">
    <div class="title">Edit your profile</div>
    <form class="form-auth"  action="/users/profile/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
    <div class="input-container ic1">
          <input id="firstname" class="input" type="text" name="username"  value="{{user.username}}">
   </div>
   <div class="input-container ic2">
      <input id="email" class="input" type="email" name="email" value="{{user.email}}">
   </div>
   <div class="input-container ic2">
      <textarea name="description" id="description" cols="30" rows="4">{{user.description}}</textarea>
   </div>

  <div class="input-container ic2">
     <input class="submit" type="file" name="profilePic" />
  </div>
         <button type="submit" class="submit">Save changes</button>
   </form>

  <form action="/users/profile/{{user._id}}/delete/" method="POST">
              <buttonclass="submit">Delete account</button>
   </form>

</div>

