<h1>{{user.username}} 's Collection</h1>

{{#if isuser}}
<form action="{{_id}}" method= "POST" enctype="multipart/form-data">

    <label for="imageUrl">Image
    <input type="file" name="imageUrl" />
    </label>

    <button type="submit">Save changes</button>
</form>

<ul>
    {{#each user.memes}}
    <li>
        <img src="{{this.imageUrl}}" style="width: 300px">
        <form action="/users/memes/delete/{{_id}}" method="POST">
        <button>Delete</button>
        </form>
     </li>
    {{/each}}
</ul>
{{else}}

<ul>
    {{#each user.memes}}
    <li>
        <img src="{{this.imageUrl}}" style="width: 300px">
    </li>

    {{/each}}
</ul>
{{/if}}

