<h1 class="title-marker" >My profile</h1>

{{#if nouser}}

<div class="full-container">
  <div class="card-profile">
        <img src="{{user.profilePic}}" alt="profile"  class="card__image" />
        <br />
        <p class="card__name">{{user.username}}</p>
        <div class="grid-container">

          <div class="grid-child-posts">
          {{!-- <h3>Email: </h3> --}}
          <p>{{user.email}}</p>
          </div>

          <div class="grid-child-description">
          {{!-- <h3>Description:</h3> --}}
          <p> {{user.description}}</p>
          </div>
        </div>

          <button class="submit profile">
            <a href="/users/memes/{{user._id}}">Collection</a>
          </button>

  </div>
</div>


{{else}}

<div class="full-container">
  <div class="card-profile">
        <img src="{{user.profilePic}}" alt="profile" class="card__image" />
        <br />
        <p class="card__name">{{user.username}}</p>
        <div class="grid-container">

          <div class="grid-child-posts">
          {{!-- <h3>Email: </h3> --}}
          <p>{{user.email}}</p>
          </div>

          <div class="grid-child-description">
          {{!-- <h3>Description:</h3> --}}
          <p> {{user.description}}</p>
          </div>
        </div>

        <button class="submit profile">
          <a href="/users/memes/{{user._id}}">My memes</a>
        </button>

        <button class="submit profile">
          <a href="/users/battles/{{user._id}}">My battles</a>
        </button>
        
        <button class="submit profile">
          <a href="/users/profile/edit/{{user._id}}">Edit profile</a>
        </button>

  </div>
</div>

{{/if}}




