<h1>My profile</h1>

<div>


    <img src="{{user.profilePic}}" alt="profile" height="50px" width="50px">
    <br>

  <h3>Name: </h3>
  <p>{{user.username}}</p>

  <h3>Email: </h3>
  <p>{{user.email}}</p>

  <h3>Description:</h3>
  <p> {{user.description}}</p>
  <br />

  <button>
    <a href="/users/memes/{{user._id}}">My memes</a>
  </button>

  <button>
    <a href="/users/profile/edit/{{user._id}}">Edit profile</a>
  </button>

</div>